<script>document.body.classList.remove('no-js');</script>
    <!-- <div id="loader-wrapper">
        <div id="loader"></div>
        <div class="loader-section section-left"></div>
        <div class="loader-section section-right"></div>
    </div> -->

    <div id="animation-wrap">
        <div class="animation-logo">
            <img src="/assets/logo-horizontal.svg" alt="Company Logo" width="150">
        </div>
    </div>