<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title>IPrime</title>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
<link rel="stylesheet" href="/libs/slick-carousel/slick/slick.css">
<link rel="stylesheet" href="/css/custom/main.css">
<!-- Favicon Markup -->
<link rel="icon" sizes="16x16" href="/assets/favicon/favicon-16x16.png">
<link rel="icon" sizes="32x32" href="/assets/favicon/favicon-32x32.png">
<link rel="apple-touch-icon" sizes="180x180" href="/assets/favicon/apple-touch-icon.png">
<link rel="mask-icon" href="/assets/favicon/safari-pinned-tab.svg" color="#ff0000">
<meta name="msapplication-TileColor" content="#ff0000">
<meta name="msapplication-TileImage" content="/assets/favicon/mstile-150x150.png">
<link rel="manifest" href="/assets/favicon/manifest.json">
<link rel='shortcut icon' href='/assets/favicon/favicon.ico' type='image/x-icon' />
