body.ipr-overlay {
  overflow: hidden !important;
  &:before {
    content: "";
    position: fixed;
    display: block;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    z-index: 9998;
  }
}

.ipr-site-mobile-navigation {

  a:not(.btn) {
    color:$secondary;
    text-decoration: none;

    &:hover,
    &:active {
      color:$primary;
    }
  }
  position: fixed;
  height: 100%;
  width: 0;
  background: $white;
  right: 0;
  top: 0;
  z-index: 9999;
  transition: width 0.3s; 
  overflow: hidden;
  .ipr-nav-hide {
    position: absolute;
    right: .8rem;
    top: .2rem;
    /* for larger click area UX */
    padding: 0.8rem;
    margin: -0.8rem;
    cursor: pointer;
  }

  .btn-mobile-nav-link {
    border-left-width: 0;
    outline: none;
    text-transform: none;
    padding-bottom: 0.5rem;
    margin-top: 0.5rem;
  }

  .btn-mobile-nav-link.collapsed {
    .fa-plus {
      display: inline;
    }
    .fa-minus {
      display: none;
    }
  }

  .btn-mobile-nav-link:not(.collapsed) {
    color: $primary !important;
    .fa-minus {
      display: inline;
    }
    .fa-plus {
      display: none;
    }
  }

  .btn-mobile {
    width: 10rem;
  }
}