@mixin hero-image-container($height, $fixed: true) {
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  @if($fixed) {
    background-attachment: fixed;
  }
  height: $height;
}

@mixin hero-image-filter($color) {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: $color;
}

@mixin hero-text($max-width) {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  max-width: $max-width;
}