.navbar-brand {
    img {
        height: 44px;
    }
}

.navbar-nav {
    .nav-link {
        font-weight: $font-weight-bold;
    }
}

.sect-main-menu {
    .nav-item {
        position: relative;
        display: inline-flex;

        &:before {
            position: absolute;
            left: 0;
            content: "|";
            padding-top: $nav-link-padding-y;
            color: $gray-300;
        }

        &:last-child {
            &:after {
                position: absolute;
                right: 0;
                content: "|";
                padding-top: $nav-link-padding-y;
                color: $gray-300;
            }

            // background: red;
       
        }
    }
    .nav-link {
        &.active {
            color: $primary !important;
        }
    }
}


.dropdown-toggle {
    &::after {
        font-family: $dropdown-toggle-font-family;
        content: $dropdown-toggle-content;
        border-width:0;
        vertical-align: middle;
        font-size:$dropdown-toggle-font-size;
    }
}

.s-whyiprime-dynamic {
    .nav-link.active {
        background: $primary !important;
        color: $white;
    }

    .nav-link:not(.active) {
        color: $black;
        background: $secondary;
    }
}