// section {
// 	margin-top:6rem;
// }

.testamonial {
  background: url('/assets/testimonial-bg.png');
  padding:8rem 0 ;
  @include hero-image-container(100%);
  &:before {
    @include hero-image-filter(rgba(0, 0, 0, 0.6));
  }
}

.testamonial-2 {
  background: url('/assets/arhitecture.png');
  @include hero-image-container(100%);
  padding:8rem 0 ;
  &:before {
    @include hero-image-filter(rgba(0, 0, 0, 0.6));
  }
}

/* PLACEHOLDER MAPS */
.sect-google-maps {
	background: $primary;
	height: 30vh;
  background:url('/assets/map-china.jpg') no-repeat;
  background-position: center 41%;
  background-size: cover;
}

.iprime-hr {
  border-top: 2px solid $primary;
  width: 120px;
}

%image-section {
	position: relative;
	background-repeat: no-repeat;
	&:before {
		@include hero-image-filter(rgba(0, 0, 0, 0.6));
	}
	.container {
		position: relative;
	}
}

.sect-page-title {
	background: url("/assets/about.png");
	@extend %image-section;
}

.sect-contacts {
	background: url("/assets/contact.png");
  @extend %image-section;
}

.section-top-margin {
    margin-top: $section-margin-top;
}