.slide-1 {
    background-image: url("/assets/slider-image-1.png");
}

.slide-2 {
    background-image: url("/assets/slider-image-1.png");
}

.slide {
    @include hero-image-container(75vh, $fixed: false);

    &:before {
        @include hero-image-filter(rgba(0, 0, 0, 0.6));
    }

    .slide-text {
        @include hero-text(45rem);
    }
}

.main-slider,
.trading-slider,
.news-slider {
    .arrow-left,
    .arrow-right {
        border-width: $slider-arrow-border;
    }
}

.news-slider {
    .card {
        position: relative;

        .tag {
            position: absolute;
            right: 15px;
            top: 15px;
        }
    }
}

.ipr-card-link {
    color: inherit !important;
    transition: transform 0.3s;

    &:hover {
        text-decoration: none;

        .card-body {
            color: $primary;
        }
    }
}

.slick-dots {
    bottom: -2rem;
    li {
        margin: 0;

        button {
            &:before {
                color: $white;
                color: $secondary;
                opacity: 0.4;
                font-size: $slider-dots-font-size;
            }
        }

        &.slick-active {
            button {
                &:before {
                    color: $slider-dot-active-color;
                    opacity: 0.6;
                    opacity: 1;
                    font-size: $slider-dots-font-size;
                }
            }
        }
    }
}

.main-slider {
    .slick-dots {
        bottom: $slider-dots-bottom-position;

        li {
            margin: 0;

            button {
                &:before {
                    color: $white;
                    opacity: 1;
                    font-size: $slider-dots-font-size;
                }
            }

            &.slick-active {
                button {
                    &:before {
                        color: $slider-dot-active-color;
                        opacity: 1;
                        font-size: $slider-dots-font-size;
                    }
                }
            }
        }
    }
}

@include media-breakpoint-down(lg) {
    .main-slider {
        .arrow-left {
            left: 5vw;
        }

        .arrow-right {
            right: 5vw;
        }
    }

    .slide {
        @include hero-image-container(50vh, $fixed: false);
    }
}


@include media-breakpoint-down(md) {
    .slide {
        @include hero-image-container(40vh, $fixed: false);

        &:before {
            @include hero-image-filter(rgba(0, 0, 0, 0.6));
        }

        .slide-text {
            width: 90%;

            h1 {
                font-size: 2rem;
            }

            h2 {
                font-size: 1.2rem;
            }
        }
    }
}


@include media-breakpoint-down(sm) {
    .slide {
        @include hero-image-container(80vh, $fixed: false);

        &:before {
            @include hero-image-filter(rgba(0, 0, 0, 0.6));
        }
    }
}