.ipr-progress, .ipr-label {
    margin-bottom: .8rem;

    h3 {
        padding-bottom: 0;
        margin-bottom: 0;
    }

    .bar {
        display: flex;
        position: relative;
        flex: 1;
        height: $bar-size;
        top: 2px;
    }

    .fill {
        position: absolute;
        display: flex;
        top: 0;
        left: 0;
        height: $bar-size;
        width: 100%;

        &-border {
            position: absolute;
            width: 50%;
            height: $bar-size;
            border-right: 1px dashed white;
        }

        &-green {
            height: 100%;
            background: $success;
        }

        &-red {
            height: 100%;
            background: $primary;
        }
    }

    .percent-label {
        margin: 0 .7rem;
        font-weight: $font-weight-bold;
    }
}

.ipr-label {
    &--present {
        flex: 1;
    }
}

.ipr-price-table {
    td {
        padding: 0.45rem;
    }
}

@include media-breakpoint-down(sm) {
    .ipr-price-table {
        .btn {
            display: none !important;
        }
    }
}