
// FONTS

@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700');
$font-family-sans-serif: 'Open Sans' ,-apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;



// Variables
//
// Variables should follow the `$component-state-property-size` formula for
// consistent naming. Ex: $nav-link-disabled-color and $modal-content-box-shadow-xs.

// Color system

$white:    #fff;
$gray-100: #f8f9fa;
$gray-200: #F5F5F5;
$gray-300: #E6E6E6;
$gray-400: #ced4da;
$gray-500: #B0B2B5;
$gray-600: #6c757d;
$gray-700: #495057;
$gray-800: #64686E;
$gray-900: #191A1E;
$black:    #000;

$grays: ();
// stylelint-disable-next-line scss/dollar-variabl
$grays: map-merge(
  (
    "100": $gray-100,
    "200": $gray-200,
    "300": $gray-300,
    "400": $gray-400,
    "500": $gray-500,
    "600": $gray-600,
    "700": $gray-700,
    "800": $gray-800,
    "900": $gray-900
  ),
  $grays
);

$blue:    #007bff;
$indigo:  #6610f2;
$purple:  #6f42c1;
$pink:    #e83e8c;
$red:     #dc3545;
$orange:  #FC4D38;
$yellow:  #ffc107;
$green:   #58D965;
$teal:    #20c997;
$cyan:    #17a2b8;

$colors: ();
// stylelint-disable-next-line scss/dollar-variabl
$colors: map-merge(
  (
    "blue":       $blue,
    "indigo":     $indigo,
    "purple":     $purple,
    "pink":       $pink,
    "red":        $red,
    "orange":     $orange,
    "yellow":     $yellow,
    "green":      $green,
    "teal":       $teal,
    "cyan":       $cyan,
    "white":      $white,
    "gray":       $gray-600,
    "gray-dark":  $gray-900
  ),
  $colors
);

$primary:       $orange;
$secondary:     $gray-800;
$success:       $green;
$info:          $cyan;
$warning:       $yellow;
$danger:        $red;
$light:         $gray-100;
$dark:          $gray-900;
$gray-light:    $gray-200;

$theme-colors: ();
// stylelint-disable-next-line scss/dollar-variabl
$theme-colors: map-merge(
  (
    "primary":    $primary,
    "secondary":  $secondary,
    "success":    $success,
    "info":       $info,
    "warning":    $warning,
    "danger":     $danger,
    "light":      $light,
    "dark":       $dark,
    "gray-light": $gray-light
  ),
  $theme-colors
);

$body-color:         $gray-800;
$enable-shadows:     true;
$font-size-base:     1rem;



// FONT WEIGHT

$font-weight-lighter:         lighter !default;
$font-weight-light:           300 !default;
$font-weight-normal:          400 !default;
$font-weight-bold:            600 !default;
$font-weight-bolder:          bolder !default;


// FONTS

$headings-color:       $gray-900;
$headings-font-weight: $font-weight-bold;


// ICONS

$icon-size:               64px;
$bar-size:                18px;
$social-icons-width:      1.8rem;
$social-icons-heigh:      1.8rem;
$social-icons-bg:         rgba($gray-300, 0.12);
$social-icons-color:      $gray-300;
$social-icons-font-size:  1rem;

// SHADOW

$box-shadow-sm:               0 .125rem .25rem rgba($black, .075) !default;
$box-shadow:                  0 0 .675rem rgba($black, .08) !default;
$box-shadow-lg:               0 0 1.675rem rgba($black, .12) !default;

// NAVBAR

$navbar-light-color:          $gray-800;
$navbar-light-hover-color:    $primary;
$navbar-light-active-color:   $primary;


// DROPDOWN

$dropdown-toggle-font-family:       "Font Awesome 5 Free";
$dropdown-toggle-content:           "\f078";
$dropdown-toggle-font-size:         0.8rem;
$dropdown-link-color:               $gray-800;
$dropdown-link-hover-color:         $primary;
$dropdown-link-hover-bg:            transparent;
$dropdown-item-padding-y:           0.6rem;
$dropdown-border-radius:            0px;
$dropdown-border-width:             0px;
$dropdown-box-shadow:               $box-shadow;

// BORDER RADIUS

$border-radius: 0.5rem;


// CARD

$card-border-radius:                0px;
$card-border-color:                 0px;
$card-box-shadow:                   $box-shadow-lg;


// BUTTONS

$font-size-lg:           $font-size-base;
$btn-text-style:         uppercase;
$btn-font-weight:        $font-weight-bold;
$input-btn-border-width: 2px;

$breadcrumb-divider: quote("-");


// SLIDER

 $slider-arrow-border:              $input-btn-border-width;
 $slider-dots-bottom-position:      1.4rem;
 $slider-dot-active-color:          $primary;
 $slider-dots-font-size:            0.624rem;


 // BADGE

 $badge-border-radius:                4px;
 $badge-font-size:                    $font-size-base;
 $badge-padding-y:                   .25em !default;
 $badge-padding-x:                    .7rem !default;


// BREADCRUMB

$breadcrumb-active-color:     $primary;
$breadcrumb-item-color:       $white;
$breadcrumb-divider-color:    $breadcrumb-item-color;


// NAV PILS

$nav-pills-border-radius: 0;
$nav-pills-color: $secondary;


// FORMS

$input-btn-border-width: 1px;


// SECTIONS

$section-margin-top: 6rem;

// SPACERS
$spacer: 1rem;
$spacers: (
  6: ($spacer * 4),
  7: ($spacer * 5),
);